.post-head {
    display: block;
    width: 100%;
    max-width: 680px;
    margin: auto;
    margin-bottom: 84px;
}
h1 {
    color: var(--black);
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}
@media (max-width: 700px) {
    .post-head {
        width: auto;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 32px;
    }
}
