h2:hover svg {
    visibility: visible;
    opacity: 1;
}

h2 {
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: var(--black);
    transition: var(--transition);
    word-break: break-all;
    margin-top: 30px;
    margin-bottom: 20px;
    width: fit-content;
}

h2:hover {
    text-decoration: underline;
}

.subtitle {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    transition: var(--transition);
    word-break: break-all;
    margin-top: 20px;
    margin-bottom: 10px;
}

.copy-icon {
    margin-left: 6px;
    vertical-align: middle;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}
