.categories-wrapper {
    max-width: 680px;
    margin: auto;
}
.category-title {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}
lit-link {
    display: block;
    width: fit-content;
    margin-bottom: 12px;
}
