* {
    --black: #0b1a1e;
    --grey: #6e7374;
    --lightgrey: #f3f3f3;
    --silver: #ccc;
    --transition: 0.2s ease-in-out;
    --typescript: #4074ba;
    --main: #0075a8;
    --orange: #d9730d;
}
