.post-link {
    display: inline-block;
    color: var(--main);
}
.hidden-text {
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
}

p {
    color: var(--main) !important;
}
a:hover {
    color: var(--main);
}
