.post-blockquote {
    position: relative;
    display: block;
    margin: 12px 0;
    padding: 3px 0;
    color: var(--black);
}
blockquote::before {
    position: absolute;
    top: 0;
    left: -12px;
    width: 3px;
    height: 100%;
    content: " ";
    background-color: var(--typescript);
}
